<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Landing Page</title>
</head>
<body>
    <h1>Welcome to Granada's ISO 27001 Assignment Tool</h1>
    <p>Select a team to view applicable clauses and controls:</p>
    <button onclick="window.location.href='/team?team=Operations HRO'">Operations HRO</button>
    <button onclick="window.location.href='/team?team=Operations SDM'">Operations SDM</button>
    <button onclick="window.location.href='/team?team=Application Management Solutions'">Application Management Solutions</button>
    <button onclick="window.location.href='/team?team=Global Technology'">Global Technology</button>
    <button onclick="window.location.href='/team?team=Service Readiness'">Service Readiness</button>
    <button onclick="window.location.href='/team?team=Products & Offering'">Products & Offering </button>
    <button onclick="window.location.href='/team?team=Sales & Pre-Sales'">Sales & Pre-Sales</button>
    <button onclick="window.location.href='/team?team=Finance'">Finance</button>
    <button onclick="window.location.href='/team?team=Office Management'">Office Management</button>
    <button onclick="window.location.href='/team?team=Local IT'">Local IT</button>
    <button onclick="window.location.href='/team?team=Legal'">Legal</button>
    <button onclick="window.location.href='/team?team=Training Team'">Training Team</button>
    <button onclick="window.location.href='/team?team=Health & Safety'">Health & Safety</button>
    <button onclick="window.location.href='/team?team=>Recriotment'">Recruitment</button>
    <button onclick="window.location.href='/team?team=Compliance'">Compliance</button>
</body>
</html>
